
ion-thumbnail {
    height: 10vh;
    width: 20vw;
    img{
        border-radius: 5px;
        height: 100%;
        width: 100%
    }
}
ion-row{
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding: 0.3rem;
}

.quantity {
    width: 2rem;
}

ion-text {
    font-size: 0.8rem;
    p{
        // margin-top: 0.2rem;
    }
}

.add {
    padding: 0 1.3rem;
}

ion-label{
    p{
        font-size: 0.8rem !important;
    }
    h4{
        font-size: 1rem !important;
    }
}