<ion-item>
  <ion-text color="success">
    <span class="dotStyle">&#9679;</span>
  </ion-text>
  <ion-label class="ion-text-wrap">
    <h5>{{item?.name}}</h5>
  </ion-label>
  <ion-row>
    <ion-icon color="success" name="remove-outline" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity" color="success">{{item?.quantity}}</ion-text>
    <ion-icon color="success" name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
  <ion-text slot="end" color="dark" class="price ion-text-right">
    ₹{{(item?.price * item.quantity) | number: '0.2-2'}}
  </ion-text>
</ion-item>