<ion-item>
  <ion-text>
    <span class="dotStyle">&#9679;</span>
  </ion-text>
  <ion-label class="ion-text-wrap">
    {{item?.name}}
  </ion-label>
  <ion-row>
    <ion-icon name="remove-outline" color="danger" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity">{{item?.quantity}}</ion-text>
    <ion-icon name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
  <ion-text slot="end" color="dark" class="price ion-text-right">
    <!-- <h4></h4> -->
    ₹{{item?.price * item.quantity | number: '0.2-2'}}
  </ion-text>
</ion-item>