.dotStyle {
    border: 1px solid green;
    padding: 0 0.15rem; //top right bottom left
    margin-right: 2vw;
    color: green;
}

ion-item{
    
    letter-spacing: 0.5px;
    
}

ion-label{
    font-size: 0.9rem;
}

ion-text{
    font-size: 0.8rem;
}

.quantity {
    width: 2rem;
}

.price {
    width: 4rem;
}