ion-header {
    ion-icon{
        font-size: 1rem;
    }
}
div{
    // margin-top: 18px;
    transform: translateY(10%);
    height: 26vh;
    width: 94%;
    margin: auto;
    swiper-container {
        --swiper-pagination-color: var(--ion-color-primary);
        height: 24vh;
        img {
            width: 100%;
            height: 20vh;
            border-radius: 5px;
            box-shadow: -1px 11px 13px -6px rgb(87, 86, 86)
        }
    }
}

.borderBottom {
    border-bottom: 1.5vh solid var(--ion-color-light);
}

ion-label {
    font-size: 0.9rem;
    font-weight: bold;
    h4{
        font-weight: bold !important;
        font-size: 1.2rem;
    }
    p{
        font-size: 0.7rem;
    }
}

ion-item{
    font-size: 0.8rem;
    ion-thumbnail {
        height: 15vh;
        width: 13vh;
        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }
    h4{
        font-size: 1rem !important;
    }
}

.distance {
    font-size: 0.8rem;
    padding-top: 0.2vh;
}

.pStyle {
    padding-bottom: 0.5vh;
    font-size: 0.82rem !important;
}