h1{
    margin-top: 1vh;
    font-weight: bold;
    font-size: 1.4rem;
}  

.dashedBorderBottom {
    border-bottom: 1px dashed var(--ion-color-medium);
    padding-bottom: 1vh;
    margin-bottom: 1.2vh;
}

.veg {
    align-items: center;
    h4 {
        padding-right: 10px;
    }
}



ion-list{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

ion-text {
    font-size: 0.8rem;
    p{
        margin-top: 0.2rem;
    }
}

ion-item {
    ion-thumbnail {
        height: 10vh;
        width: 20vw;
        img{
            border-radius: 5px;
            height: 100%;
            width: 100%
        }
    }
    ion-row{
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
    }
}

.quantity {
    width: 2rem;
}

ion-footer{
    h4, p {
        margin-left: 3%
    }
    p {
        font-size: 0.55rem !important;
        letter-spacing: 0.7px;
    }
}