ion-img{
    border-radius: 4px;
}

ion-row{
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding: 0.3rem;
}

ion-input{
    font-size: 0.8rem;
}

ion-item{
    ion-label{
        font-size: 0.9rem;
    }
    letter-spacing: 0.5px;
    ion-text{
        font-size: 0.8rem;
    }
}


ion-footer{
    ion-text, p{
        font-size: 0.7rem;
    }
    ion-col{
        ion-label{
            margin-left: 5px;
        }
    }
}